* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #7c0101;
  height: 100vh;
}

.login {
  border-radius: 50%;
  background: #f5eedc;
  font-family: sans-serif;
  border: 3px solid black;
  margin: auto;
  width: 45vw;
  height: 45vw;
  padding: 1.8em;
  font-size: 2.1vw;
  color: #7c0101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login h1 {
  margin: 0.5em 0.5em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
}

.login p {
  margin: 0.5em 0 1em 0;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.login button {
  height: 3em;
  width: 6em;
  margin: 1em;
  background: #7c0101;
  color: white;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.login button:hover {
  background: white;
  color: #7c0101;
  border: #7c0101 2px solid;
}

.login form {
  width: 33vw;
}

.login input {
  width: 10vw;
  height: 3vw;
  border: 2px solid black;
  padding-left: 1em;
}

.login svg {
  display: none;
  height: 3em;
  width: 3em;
}

.hide {
  height: 10vw;
  width: 10vw;
  margin: 0 auto;
  position: relative;
  background: #7c0101;
  top: -2em;
  padding: 0;
  padding-top: 1.5em;
  font-size: 2.5vw;
  color: #f5eedc;
}

.hide:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.tarjeta {
  height: clamp(1em, 45vh, 35vw);
  font-size: 2vw;
  border: 2px solid black;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 0.5px #9c9c9c;
          box-shadow: 5px 5px 10px 0.5px #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-preferred-size: clamp(1em, 40vh, 30%);
      flex-basis: clamp(1em, 40vh, 30%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tarjeta img {
  width: 120%;
  height: 100%;
  margin: -35px;
}

.odontologia .tarjeta,
.adicciones .tarjeta {
  -ms-flex-preferred-size: clamp(1em, 65vh, 50%);
      flex-basis: clamp(1em, 65vh, 50%);
  height: clamp(1em, 40vh, 28vw);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 35px;
}

.odontologia .tarjeta img,
.adicciones .tarjeta img {
  width: 106%;
  height: 106%;
  border: 2px solid black;
  border-radius: 35px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

s #score {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#calificar {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 3em;
  z-index: 5;
  position: relative;
  border-radius: 10px;
  background: #7c0101;
  color: white;
  margin: 5% 45%;
}

.musica img {
  width: 100%;
}

.musica {
  display: none;
}

.emociones svg {
  display: block;
  height: 100%;
}

.emociones svg path:hover {
  cursor: pointer;
}

.emociones .tarjeta {
  z-index: 20;
  margin: 5vh;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  height: 60%;
  width: 55vw;
}

.emociones .tarjeta img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.rotated {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.adicciones .tarjeta-front,
.adicciones .tarjeta-back,
.odontologia .tarjeta-front,
.odontologia .tarjeta-back {
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.tarjeta-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.tarjeta-dentro {
  height: 100%;
  width: 100%;
}

.tarjeta:hover {
  -webkit-box-shadow: 9px 9px 14px 1px #9c9c9c;
          box-shadow: 9px 9px 14px 1px #9c9c9c;
  cursor: pointer;
}

.tarjetas-container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.juego-container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 65vw;
    height: 65vw;
  }
  .login button {
    width: 80%;
    height: 2em;
  }
  .login form {
    width: 100%;
  }
  .login form input {
    width: 45%;
    height: 5vw;
  }
  .hide {
    height: 20vw;
    width: 20vw;
    top: -3em;
    padding-top: 2em;
    font-size: 3.5vw;
  }
  .tarjeta.inicio {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: 50vw;
  }
  .tarjetas-container {
    height: 60%;
  }
  .tarjetas-container .tarjeta {
    margin: 0 auto;
  }
  .tarjetas-container .tarjeta img {
    height: 120%;
    width: 150%;
  }
  .emociones .tarjeta {
    width: 90vw;
    height: 40%;
    margin: auto;
  }
}
/*# sourceMappingURL=index.css.map */