* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  background: rgb(124, 1, 1);
  height: 100vh;
}

.title{
  flex-basis: 100%;
  text-align: center;
  justify-content: center;
  font-size: 2.2vw;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(105, 0, 0);
}

.login {
  border-radius: 50%;
  background: rgb(245, 238, 220);
  font-family: sans-serif;
  border: 3px solid black;
  margin: auto;
  width: 45vw;
  height: 45vw;
  padding: 1.7em;
  font-size: 2.2vw;
  color: rgb(124, 1, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease;
  h1 {
    margin: 0.5em 0.5em;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
  }
  p {
    margin: 0.5em 0 1em 0;
    text-transform: uppercase;
    font-size: 1.5vw;
  }
  button {
    height: 3em;
    width: 6em;
    margin: 1em;
    background: rgb(124, 1, 1);
    color: white;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
  }
  button:hover {
    background: white;
    color: rgb(124, 1, 1);
    border: rgb(124, 1, 1) 2px solid;
  }
  form {
    width: 33vw;
  }
  input {
    width: 10vw;
    height: 3vw;
    border: 2px solid black;
    padding-left: 1em;
  }
  svg {
    display: none;
    height: 3em;
    width: 3em;
  }
}

.hide {
  height: 10vw;
  width: 10vw;
  margin: 0 auto;
  position: relative;
  background: rgb(124, 1, 1);
  top: -2em;
  padding: 0;
  padding-top: 1.5em;
  font-size: 2.5vw;
  color: rgb(245, 238, 220);
}

.hide:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.tarjeta {
  height: clamp(1em, 45vh, 35vw);
  font-size: 2vw;
  border: 2px solid black;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0.5px #9c9c9c;
  display: flex;
  margin: 3vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: clamp(1em, 40vh, 30%);
  flex-direction: column;
  transition: all 0.3s ease;
  img {
    width: 120%;
    height: 100%;
    margin: -35px;
  }
}

.odontologia,
.adicciones {
  .tarjeta {
    flex-basis: clamp(1em, 65vh, 50%);
    height: clamp(1em, 40vh, 28vw);
    perspective: 1000px;
    border: none;
    transform-style: preserve-3d;
    border-radius: 35px;
    img {
      width: 106%;
      height: 106%;
      border: 2px solid black;
      border-radius: 35px;
      margin: auto;
      object-fit: cover;
    }
  }
}
s #score {
  display: none;
  flex-basis: 100%;
  justify-content: center;
}

#calificar {
  flex-basis: 100%;
  height: 3em;
  z-index: 5;
  position: relative;
  border-radius: 10px;
  background: rgb(124, 1, 1);
  color: white;
  margin: 5% 45%;
}

.musica {
  display: none;
  img {
    width: 100%;
  }
  iframe {
    margin: 2em;
  }
}

iframe {
  border-radius: 35px;
  border: 2px solid black;
}

.deportes {
  display: none;
  iframe {
    margin: 2em;
  }
}

.social {
  display: none;
  img {
    width: 100%;
  }
}

.emociones {
  svg {
    display: block;
    margin-top: 2em;
    height: 100%;
    path:hover {
      cursor: pointer;
    }
  }
  .tarjeta {
    z-index: 20;
    margin: 5vh;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    height: 63%;
    width: 54vw;
    img {
      border-radius: 30px;
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
}

.rotated {
  transform: rotateY(180deg);
}

.adicciones,
.odontologia {
  .tarjeta-front,
  .tarjeta-back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}

.tarjeta-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.tarjeta-dentro {
  height: 100%;
  width: 100%;
}

.tarjeta:hover {
  box-shadow: 9px 9px 14px 1px #9c9c9c;
  cursor: pointer;
}

.tarjetas-container {
  display: none;
  flex-direction: row;
  height: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.juego-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.main-content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper-container {
  width: 50%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(124, 1, 1);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    width: 65vw;
    height: 65vw;
    font-size: 2.8vw;
    p {
      font-size: 2.8vw;
    }
    button {
      width: 60%;
      height: 2em;
    }

    form {
      width: 100%;
      input {
        width: 45%;
        height: 5vw;
      }
    }
  }
  .hide {
    height: 20vw;
    width: 20vw;
    top: -3em;
    padding-top: 2em;
    font-size: 3.5vw;
  }

  .tarjetas-container {
    height: 60%;
    .tarjeta {
      margin: 1em auto;
      flex-basis: 40%;
      height: 50vw;
      img {
        height: 120%;
        width: 150%;
      }
    }
  }

  .emociones .tarjeta {
    width: 90vw;
    height: 40%;
    margin: auto;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 80vw;
    height: 40%;
  }
}
